@font-face {
    font-family: 'vontens';
    src: url("../../assets/fonts/vontens/Vontens.ttf") format("truetype"),
         url("../../assets/fonts/vontens/Vontens.otf") format("otf");
}

.header {
    text-align: center;
    background-color: #2E4A62; /* #2A293E */
    flex-direction: column;
    padding: 10px;
    font-size: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
}

.header h3 {
    font-family: 'vontens', serif;
    margin: 0;
}