.profil {
    display: flex;
    margin-bottom: 50px;
    margin: auto;
    width: 80%;
}

.profil p {
    width: 80%;
    text-align: justify;
    font-size: 22px;
    text-align: left;
}

.profil img {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
    margin: 15px;
}

@media only screen and (max-width: 804px) {
    .profil {
        display: block;
        overflow: auto;
    }

    .profil p {
        width: 100%;
    }

    .profil img {
        width: 200px;
        float: left;
    }
}

@media only screen and (min-width: 1000px) {
    .profil p {
        padding: 25px;
    }
}