.footer {
    text-align: center;
    background-color: #2E4A62; /* #2A293E */
    padding: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
}

.footer .contact {
    font-weight: 900;
    font-size: 22px;
}

.footer > * {
    margin: 0;
    padding: 0;
    list-style: none;
}